{% extends 'admin/base_site.html' %}

{% block content %}
    <h1> Detail </h1>
    
    

 <p>
 <strong>{{ template_data }}</strong>
 </p>
    
   <p> 
 <strong>Created</strong>   {{ template_data.created }}
   </p>
    <p>
 <strong>  Last updated </strong>     {{ template_data.modified }}

    </p>

    <br/>
    
<h2>Data:</h2>
    {% for  data_row in template_data.templatedatarow_set.all %}
        <p>
            <strong>  {{ data_row.template_field.label }} : </strong> {{ data_row.payload }}
        </p>
    {% endfor %}
    
    <div>
    <a href="{{ back_url }}">Back</a>
    </div>

{% endblock %}