{% extends 'admin/base_site.html' %}

{% block content %}

	
<h1>
    {{ title|default:'Collected Data' }}
</h1>
	<div class="content-main">
	{% for obj in objects %}
	<p>
		<strong>  {{ obj }} : </strong> <a href="{% url detail obj.id %}">Detail</a>
	</p>
        {% empty %}
        <h2>No data yet!</h2>
	{% endfor %}
    </div>

{% endblock %}