{% extends 'admin/base_site.html' %}

{% block content %}
	<h2> Previw </h2> 
	
	
	
	{% for  field in form %}
	<p>
		<strong>  {{ field.label_tag }} : </strong> {{ field.data }}
	</p>
	{% endfor %}

{% endblock %}