{% extends 'admin/base_site.html' %}

{% block content %}
	
	{{ form.errors }}
	<form method="POST">
	{% csrf_token %}
	{{ form.as_p }}
	<p>
		<input type="submit" value="Send" />
	</p>
	</form>

{% endblock %}